/* COMMON */
body{
    font-family: Arial, sans-serif;
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

/* Containers */
.ms_forty_container{
    width: 40%;
}

/* Texts */
.white_text{
    color: white;
}
.lightblue_text{
    color: #0072ce;
}
.gray_text{
    color: #727272;
}
.font_13{
    font-size: 13px;
}
.font_15{
    font-size: 15px;
}
.font_17{
    font-size: 17px;
}
.font_18{
    font-size: 18px;
}
.font_20{
    font-size: 20px;
}
.font_25{
    font-size: 25px;
}
.font_35{
    font-size: 35px;
}
.font_40{
    font-size: 40px;
}
.light_bold_text{
    font-weight: 600;
}





/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    background-color: white;
}
/* Header Top */
.header_top{
    background-color: black;  
    height: 30px;
    line-height: 30px;
}
.sony_logo{
    display: inline-block;
    margin-left: calc(100% - 100px);
    width: 100px;
}

/* Header Bottom */
.header_bottom{
    line-height: 80px;
}
.ps_logo{
    height: 80px;
    display: flex;
}
.ps_logo img{
    margin:auto;
    width: 70px;
}
.header_bottom li{
    display: inline-block;
}
.header_bottom ul a:first-child{
    margin-left: 0;  /* Removing Margin-L to the first list element */
}
.header_right_nav{
    text-align: right;
}
.header_menu_option{
    color: black;  /* Nav item */
    margin: 0 7px;
}
.arrow_down{
    display: inline-block;
    width: 10px;            /* gray arrow */
    margin: 0 2px;
}
.arrow_down_hover{
    display: none;
}
.header_menu_option:hover .arrow_down{
    display: none;  /* Hover arrow effect  */
}
.header_menu_option:hover .arrow_down_hover{   
    display: inline-block; /* Hover arrow effect  */
}
.ms_btn_dark{
    border-radius: 50px;
    color: white;
    background-color: #363636; /* Login btn */
    border-color: #363636;
}
.header_lens{
    display: inline-block;
    width: 25px;             
    margin-left: 10px;
}
.burger_menu{
    font-size: 28px;
    text-align: right;
}
.burger_menu i{
    padding: 6px 8px;
    border: 1px solid gray; /* burger menu border */
    border-radius: 5px;
}
/* END HEADER */





/* MAIN */
main{
    margin-top: 110px;
}
.jumbotron{
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;  /* jumbo general features */
    background-size: cover;
}
/* Top Jumbotron */
.top_jumbotron{
    background-image: url("../img/jumbo-bg.png");   
}
.jumbotron .jumbo_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Jubo content positioning */
    height: 650px;
}
.jumbotron .jumbo_content img{
    width: 60%;
}
.jumbotron .jumbo_content *{
    margin-bottom: 20px;
}
.ms_btn_orange{
    color: white;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    border-radius: 20px;
}
@media screen and (min-width:992px) {
    .jumbo_content{
        width: 40%;
    }
}

/* Gamelist 1 */
.gamelist_container{
    margin: 30px 0 80px; 
}
.games-list-item{
    padding: 5px;
}
.games-list-item img{
    border-radius: 10px;
}
.games-list-item.active{
    border: 1px solid #0072ce;
    border-radius: 20px;
}

/* Plyastation 5 */
.ps5_container{
    padding: 30px 0;
}
.ps4_ps5_titles{
    text-align: center;
}
.ps5_text *{
    margin: 20px 0;
}
.btn_round{
    border-radius: 20px;
}
.ps5_accessories{
    padding: 20px 10px 0;
    text-align: center;
    position: relative;
}
.ps5_item.active{
    border-bottom: 2px solid #0072ce;
}
.ps5_accessories.not_active::before{
    display:"block";
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.3); /* White overlay */
    position: absolute;
    top: 0;
    left: 0;
}

/* Bottom jumbotron */
.bottom_jumbotron{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

/* New releases */
.new_releases{
    padding: 30px 0;
    background-color: #1f1f1f;
}
.new_releases .games-list-item{
    margin: 10px 0;
}
.new_releases div.font_15{
    margin: 8px 0;
}

/* PlayStation 4 */
.ps4_container{
    padding: 80px 0 0;
}
.card{
    border: none;
}

/* PS Plus */
.ps_plus{
    background-color: #bebcbb;
}
.ps_plus_logo{
    width: 50%;
}
.ps_plus_btn{
    background-color: #d9dadc;
    color: #3066e6;
}

/* Discounts PS Store */
.discounts_container{
    padding: 50px 0;
    text-align: center;
}

/* PS Now */
.ps_now{
    background-color: #161c3b;
}
.ps_now_text img{
    width: 50%;
}
.ps_now_btn{
    color: black;
    background-color: white;
    border-color: white;
}

/* Socials */
.socials{
    padding: 50px 0;
}
.social_icon{
    margin: 20px 0;
    max-width: 300px; /*Icons properties */
}
/* END MAIN */





/* FOOTER */
footer{
    background-color: #00439c;
    padding: 50px 0;
}
.footer_copyright img{
    width: 150px;
}
@media screen and (min-width:992px) {
    .footer_copyright{
        width: 50%;
    }
}
/* END FOOTER */