/* COMMON */
body{
    font-family: Arial, sans-serif;
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

/* Containers */
.ms_forty_container{
    width: 40%;
}

/* Texts */
.white_text{
    color: white;
}
.font_17{
    font-size: 17px;
}
.font_45{
    font-size: 45px;
}
.light_bold_text{
    font-weight: 600;
}





/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    background-color: white;
}
/* Header Top */
.header_top{
    background-color: black;  
    height: 30px;
    line-height: 30px;
}
.sony_logo{
    display: inline-block;
    margin-left: calc(100% - 100px);
    width: 100px;
}

/* Header Bottom */
.header_bottom{
    line-height: 80px;
}
.ps_logo{
    height: 80px;
    display: flex;
}
.ps_logo img{
    margin:auto;
    width: auto; 
    height: 70px;
}
.header_bottom li{
    display: inline-block;
}
.header_bottom ul a:first-child{
    margin-left: 0;  /* Removing Margin-L to the first list element */
}
.header_right_nav{
    text-align: right;
}
.header_menu_option{
    color: black;  /* Nav item */
    margin: 0 10px;
}
.arrow_down{
    display: inline-block;
    width: 10px;            /* gray arrow */
    margin: 0 2px;
}
.arrow_down_hover{
    display: none;
}
.header_menu_option:hover .arrow_down{
    display: none;  /* Hover arrow effect  */
}
.header_menu_option:hover .arrow_down_hover{   
    display: inline-block; /* Hover arrow effect  */
}
.ms_btn_dark{
    border-radius: 50px;
    color: white;
    background-color: #363636; /* Login btn */
    border-color: #363636;
}
.header_lens{
    display: inline-block;
    width: 25px;             
    margin-left: 10px;
}
.burger_menu{
    font-size: 28px;
    text-align: right;
}
.burger_menu i{
    padding: 6px 8px;
    border: 1px solid gray; /* burger menu border */
    border-radius: 5px;
}
/* END HEADER */





/* MAIN */
main{
    margin-top: 110px;
}
/* Top Jumbotron */
.top_jumbotron{
    background-image: url("../img/jumbo-bg.png");   
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top_jumbotron .ms_forty_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 650px;
}
.top_jumbotron .ms_forty_container img{
    width: 60%;
}
.top_jumbotron .ms_forty_container *{
    margin-bottom: 20px;
}
.ms_btn_orange{
    color: white;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    border-radius: 20px;
}

